In [1]:
import sqlite3

In [2]:
path = "database/data.db"

In [3]:
db  = sqlite3.connect(path)

In [4]:
db.execute('''CREATE TABLE PEOPLE
         (ID INT PRIMARY KEY     NOT NULL,
         NAME           TEXT    NOT NULL,
         PASSWORD       TEXT    NOT NULL,
         EMAIL          TEXT     NOT NULL,
         LOCATION        CHAR(50));''')

In [20]:
res = db.execute("INSERT INTO PEOPLE (ID, NAME,PASSWORD, EMAIL, LOCATION) \
      VALUES (3, 'Harry Bronx', 'admin',  'hb@gb.com', 'South Africa' )")
for row in res:
    print(row)

In [4]:
res = db.execute("SELECT * from PEOPLE")

In [5]:
for row in res:
    print(row)

(1, 'Greg Abramov', 'admin', 'gb@gb.com', 'Lebanon')
(2, 'Latisha Max', 'admin', 'lm@gb.com', 'NA')
(3, 'Harry Bronx', 'admin', 'hb@gb.com', 'South Africa')

In [23]:
db.commit()

In [24]:
db.close()